# ExploitFixer developed by LinsaFTW.
#
# WARNING: Only NullAddress, UUIDSpoof, CustomPayload and Commands checks works on BungeeCord.
# This is because the other checks doesn't do anything on BungeeCord.
# The other checks require to be installed in Spigot with ProtocolLib.
# You need to install the plugin on BungeeCord and all Spigot servers.

# Shows notifications to players with permissions.
notifications:
  enabled: true

  # Placeholders: %player% %ping% %check% %vls%
  message: "&c&lEF: &e%player% &7(&a%ping%ms&7) &ffailed &6%check% &7(&c%vls% vls&7)"

# Prevents a variety of exploits that occur on connection establish.
# Players wont be able to type commands until the connection is secured. (You wont notice this)
connection:
  # Prevents null addresses from fake Bungee IP Forwarding to bypass IP Whitelist.
  # NullAddress only affects non-firewalled servers using IP Whitelist.
  nulladdress: true

  # Prevents changing UUIDs with spoofed BungeeCord IP Forwarding.
  # UUIDSpoof only affects non-firewalled servers with BungeeCord: true.
  uuidspoof: true

# Fixes ItemMeta from items to remove invalid tags, enchants, effects, etc...
itemsfix:
  enabled: true

  # Maximum enchant level obtainable with creative packets. (Set to 0 to disable custom enchants)
  enchant_limit: 0

# Prevents the use of CustomPayload packets to exploit the server.
custompayload:
  enabled: true

  # Blocks different types of invalid packets.
  invalid:
    # Limits the amount of channels registered per player.
    max_channels:
      # Vls to add when max channels are exceed. (Set to 0 to disable)
      vls: 1000

      # Maximum amounts of channels allowed per player.
      amount: 512

    # Never disable this and instead increase max_bytes if you have false positives.
    big_data:
      # Vls to add when too big packets are sent. (Set to 0 to disable)
      vls: 1000

      # Maximum amount of bytes per packet.
      max_bytes: 16000

  # Amount of violations required to cancel.
  cancel_vls: 400

  # Amount of violations to reduce per second.
  reduce_vls: 400

  # When a valid packet is sent the following amount of vls will be applied.
  multipliers:
    OTHER: 0.1
    MC|BSign: 50
    MC|BEdit: 50
    MC|BOpen: 50

  # Placeholders: %player%
  # Commands to execute when a players reachs a violation level.
  violations:
    400:
      - "notification"
    600:
      - "notification"
      - "kick"

# Prevents the use of packets to exploit the server.
packets:
  enabled: true

  # Amount of vls required to start cancelling packets.
  cancel_vls: 400

  # Amount of vls to reduce per second.
  reduce_vls: 300

  # Blocks different types of invalid packets.
  invalid:
    # Cancells packets if the player sending it is offline.
    offline: true

    # Never disable this and instead increase max_bytes if you have false positives.
    # This will check if integers, floats, doubles and packets have a invalid size.
    big_data:
      # Vls to add when too big packets are sent. (Set to 0 to disable)
      vls: 1000

      # Maximum amount of bytes per packet.
      max_bytes: 16000

      # Maximum amount of items per StructureModifier.
      max_structure: 25

    # big_data is required to enable this check. (Checks page quantity and bytes)
    books:
      vls:
        # Vls to add when invalid book packets are sent. (Set to 0 to disable)
        invalid: 1000

        # Vls to add when normal book packets are sent. (Set to 0 to disable)
        normal: 20

      # Maximum amount of bytes per page. (Prevents duplication and crashes)
      max_bytes: 256

    # Vls to add when invalid window_click packets are sent. (Set to 0 to disable)
    # Vls added by null InventoryView is the tenth part of the window_click vls.
    window_click: 1000

    # Vls to add when invalid block_place packets are sent. (Set to 0 to disable)
    block_place: 1000

    # Vls to add when invalid block_dig packets are sent. (Set to 0 to disable)
    block_dig: 1000

    # Vls to add when invalid set_creative_slot packets are sent. (Set to 0 to disable)
    set_creative_slot: 1000

  # When a valid packet is sent the following amount of vls will be applied.
  multipliers:
    ABILITIES: 1
    ARM_ANIMATION: 3
    BLOCK_DIG: 3
    BLOCK_PLACE: 4.25
    CUSTOM_PAYLOAD: 0.1
    ENTITY_ACTION: 4
    FLYING: 0.5
    LOOK: 0.75
    POSITION_LOOK: 0.75
    POSITION: 3.5
    SET_CREATIVE_SLOT: 0.5
    TAB_COMPLETE: 8
    UPDATE_SIGN: 90
    USE_ENTITY: 4
    USE_ITEM: 4
    WINDOW_CLICK: 5

  # Placeholders: %player%
  # Commands to execute when a players reachs a violation level.
  violations:
    500:
      - "notification"
    1000:
      - "notification"
      - "kick"

# Checks if players try to crash/exploit the server with commands.
commands:
  enabled: true

  # Amount of violations required to cancel.
  cancel_vls: 1

  # Amount of violations to reduce per second.
  reduce_vls: 0

  # Commands to detect.
  commands:
    - "//calc"
    - "//calculate"
    - "//eval"
    - "//evaluate"
    - "//solve"
    - "/hd readtext"
    - "/holographicdisplays readtext"
    - "/pex promote"
    - "/pex demote"
    - "/promote"
    - "/demote"
    - "/execute"

  # Placeholders: %player%
  violations:
    1:
      - "notification"
      - "kick"

# Prevents invalid sign creation.
signs:
  enabled: true

  # Amount of violations required to cancel.
  cancel_vls: 1

  # Amount of violations to reduce per second.
  reduce_vls: 0

  max_bytes: 34

  # Placeholders: %player%
  violations:
    1:
      - "notification"
      - "kick"