# ExploitFixer by LinsaFTW
# Please help by donating, we require funds to continue with the development.
# https://paypal.me/LinsaFTW
#
# WARNING: Only Notifications, Connection, CustomPayload and Commands modules work on BungeeCord.
#
# This is because the other modules can't be executed on BungeeCord.
# The other modules require ExploitFixer to be installed on Spigot with HamsterAPI. (No performance impact)
#
# INSTALL THE PLUGIN ON BUNGEECORD AND ALL SPIGOT SERVERS!
#
# Most of the check use Violations (vls), this a counter to execute different
# actions on diverse levels to allow high customization of the modules.
#

# Shows notifications to console and players with permissions.
notifications:
  enabled: true

  # This shows extra information about packets blocked.
  # Useful to identify false positives and reporting errors.
  debug: false

  # Placeholders: %player% %ping% %check% %vls%
  message: "&c&lEF: &e%player% &7(&a%ping%ms&7) &ffailed &6%check% &7(&c%vls% vls&7)"

# Prevents a variety of exploits that occur on player connection.
# Players wont be able to type messages/commands until the connection is secured. (You wont notice this)
connection:
  # Prevents changing UUIDs with spoofed BungeeCord IP Forwarding.
  # UUIDSpoof only affects non-firewalled servers with BungeeCord: true.
  uuidspoof: true

  # Prevents null addresses from fake Bungee IP Forwarding to bypass IP Whitelist.
  # NullAddress only affects non-firewalled servers using IP Whitelist.
  nulladdress: true

  # Commands to run when a player is detected.
  punishments:
    - ""

# Removes custom NBT tags from creative items to prevent harm to your server.
itemsfix:
  enabled: true

  # Maximum stack size obtainable with creative packets. (Set to -1 to allow everything)
  max_stack_size: 64

  # Maximum enchant level obtainable with creative packets. (-1 to disable)
  enchant_limit: 10

# Prevents the use of CustomPayload packets to exploit the server.
custompayload:
  enabled: true

  # Amount of violations required to cancel.
  cancel_vls: 40

  # Amount of violations to reduce per second.
  reduce_vls: 40

  # Limits the amount of channels a player can register.
  channel:
    # Vls to add when a packet fails the check. (Set to -1 to disable)
    vls: 100

    # Maximum amounts of channels allowed per player.
    amount: 512

  # Limits the amount of bytes a custompayload packet can handle.
  data:
    # Vls to add when a packet fails the check. (Set to -1 to disable)
    vls: 100

    # Maximum amount of bytes per packet.
    bytes: 16000

  # Checks CustomPayload books for invalid data.
  book:
    # Vls to add when a packet fails the check. (Set to -1 to disable)
    vls: 100

    # Maximum amount of bytes per page.
    bytes: 300
    
  # Checks if a tag of a CustomPayload packet is invalid.
  tag:
    # Vls to add when a packet fails the check. (Set to -1 to disable)
    vls: 100

  # When a valid packet is sent the following amount of vls will be applied.
  multipliers:
    OTHER: 0.01
    SETTINGS: 0.05
    MC|BSign: 10
    MC|BEdit: 10
    MC|BOpen: 10

  # Commands to run when a player reachs certain violation level.
  violations:
    50:
      - "notification"
    100:
      - "notification"
      - "kick"

# Prevents the use of packets to exploit the server.
# This prevents almost every exploit available for Bukkit.
packets:
  enabled: true

  # Amount of vls required to start cancelling packets.
  cancel_vls: 100

  # Amount of vls to reduce per second.
  reduce_vls: 60

  # Cancells packets if the player sending them is offline.
  offline: true

  # Never disable this and instead increase max_bytes if you have false positives.
  # This will check if integers, floats, doubles and packets have a invalid size.
  data:
    # Vls to add when a packet fails the check. (Set to -1 to disable)
    vls: 600

    # Maximum amount of bytes allowed per packet. (Set to -1 to disable)
    bytes: 16000

    # Maximum amount of bytes allowed per book page. (Set to -1 to disable)
    bytes_book: 300

    # Maximum amount of bytes allowed per sign line. (Set to -1 to disable)
    bytes_sign: 47

    # Packets will add their amount of bytes divided by this number to vl count.
    # This is made so big packets add more vls when received.
    bytes_divider: 1000

  # Checks if players send PacketPlayInWindowClick packets with invalid data.
  # Vls to add when a packet fails the check. (Set to -1 to disable)
  window_click: 300

  # Checks if players send PacketPlayInBlockPlace packets with invalid data.
  # Vls to add when a packet fails the check. (Set to -1 to disable)
  block_place: 300

  # Checks if players send PacketPlayInBlockDig packets with invalid data.
  # Vls to add when a packet fails the check. (Set to -1 to disable)
  block_dig: 600

  # Checks if players send PacketPlayInCreativeSlot packets without creative.
  # Vls to add when a packet fails the check. (Set to -1 to disable)
  set_creative_slot: 600

  # Vls to add when a normal packet is sent by a player.
  # This option is made to work as a packet limiter feature.
  # Unlisted packets are considered as "PacketPlayInOther" by default.
  # Remember to take a look at bytes_divider option.
  multipliers:
    PacketPlayInOther: 0.1
    PacketPlayInAbilities: 0.1
    PacketPlayInArmAnimation: 0.3
    PacketPlayInBlockDig: 0.3
    PacketPlayInBlockPlace: 0.4
    PacketPlayInCustomPayload: 0.01
    PacketPlayInEntityAction: 0.4
    PacketPlayInFlying: 0.05
    PacketPlayInLook: 0.1
    PacketPlayInPositionLook: 0.1
    PacketPlayInPosition: 0.35
    PacketPlayInSetCreativeSlot: 0.1
    PacketPlayInSettings: 0.5
    PacketPlayInTabComplete: 0.2
    PacketPlayInUpdateSign: 10
    PacketPlayInUseEntity: 0.4
    PacketPlayInUseItem: 0.4
    PacketPlayInWindowClick: 0.5

  # Placeholders: %player%
  # Commands to run when a player reachs certain violation level.
  violations:
    350:
      - "notification"
    600:
      - "notification"
      - "kick"

# Checks if players try to crash/exploit the server with commands.
commands:
  enabled: true

  # Commands that are excempt from this server.
  commands:
    - "//calc"
    - "//calculate"
    - "//eval"
    - "//evaluate"
    - "//solve"
    - "/hd readtext"
    - "/holo readtext"
    - "/hologram readtext"
    - "/holograms readtext"
    - "/holographicdisplays readtext"
    - "/pex promote"
    - "/pex demote"
    - "/promote"
    - "/demote"
    - "/execute"

  # Placeholders: %player%
  punishments:
    - "notification"
    - "kick"
